@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background: linear-gradient(-45deg, #0f2027, #203a43, #2c5364, #0f2027);
    animation: gradientAnim 5s ease infinite;
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;

}

@keyframes gradientAnim {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.div-mother {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    position: relative;
    top: 100px;
}

.logo-img {
    width: 150px;
    margin-bottom: 20px;
}

main {
    width: 100%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    border: 2px solid #2c5364;
    /* Azul roxo elegante (indigo) */
    border-radius: 1rem;
    padding: 2rem;
    animation: glow 4s ease-in-out infinite;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.3),
        0 0 40px rgba(0, 255, 255, 0.2),
        0 0 60px rgba(0, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #fff;
    border-radius: 20px;
}


@keyframes glow {
    0% {
        box-shadow:
            0 0 20px rgba(0, 255, 255, 0.3),
            0 0 40px rgba(0, 255, 255, 0.2),
            0 0 60px rgba(0, 255, 255, 0.1);
    }

    50% {
        box-shadow:
            0 0 30px rgba(0, 255, 255, 0.5),
            0 0 60px rgba(0, 255, 255, 0.3),
            0 0 90px rgba(0, 255, 255, 0.2);
    }

    100% {
        box-shadow:
            0 0 20px rgba(0, 255, 255, 0.3),
            0 0 40px rgba(0, 255, 255, 0.2),
            0 0 60px rgba(0, 255, 255, 0.1);
    }
}

label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    text-align: left;
    margin-bottom: 8px;
    font-size: 0.95rem;
    color: #ffffffcc;
    /* branco com transparência */
    font-weight: 500;
}

select,
input {
    width: 100%;
    border-radius: 10px;
    height: 45px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    appearance: none;
    outline: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 242, 254, 0.2);
    transition: all 0.3s ease;
}

button {
    border-radius: 10px;
    width: 100%;
    border: none;
    height: 45px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    background: linear-gradient(135deg, #00f2fe, #4facfe);
    color: #fff;
    border: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 242, 254, 0.4);

}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(0, 242, 254, 0.7), 0 0 50px rgba(0, 242, 254, 0.3);
    background: linear-gradient(135deg, #4facfe, #00f2fe);
}

button:active {
    opacity: 0.6;
}

.result {
    border-radius: 15px;
    margin-top: 25px;
    padding: 15px;
    background-color: rgba(0, 242, 254, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vector-img {
    width: 30px;
    margin: 10px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: black;
}

.currency {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.currency-value-to-convert,
.currency-value-converted {
    font-size: 18px;
    font-weight: bold;
    color: #fd0000;
}